body {
  font-family: sans-serif;
}

div.content {
  position: relative;
  width: 50em;
  height: 30em;
}

div.item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

div.name {
  position: absolute;
  top: 0;
  left: 0;

  width: 10em;
  text-align: right;
  padding: 0.2em;
}

div.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;

  background-color: lightpink;
  color: black;
  padding: 0.2em;
  text-align: right;
}

div.bar2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;

  background-color: rgb(182, 211, 255);
  color: blue;
  padding: 0.2em;
  text-align: left;
}
